#intro-card-cont {
  background-color: white;
  min-height: 50dvh;
  padding-inline: 2rem;
  padding-bottom: 10rem;
}

.cont {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin-inline: auto;
  padding-top: 5rem;
  gap: 5rem;
}
article.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: right;
  gap: 1rem;
}

.intro {
  max-width: 420px;
  padding-bottom: 2rem;
}
.intro h2 {
  text-align: initial;
  font-size: 28px;
  font-weight: 400;
}
.intro h2 strong {
  font-weight: 800;
  font-size: 38px;
}

.img-cont {
  margin-inline: auto;
  background-color: black;
  border: double 10px black;
}
.img-intro {
  width: 100%;

  border: 1px solid black;
  padding: 1rem;
  display: block;
  margin-inline: auto;
  border-radius: 22px;
}

h2 {
  text-align: center;
}
.quien-soy-text {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  font-size: 18px;
  padding-inline: 0.5rem;
  line-height: 20.5px;
}

.conoceme-btn {
  background-color: grey !important;
  color: white !important;
  width: 100% !important;
}
.conoceme-btn:hover {
  background-color: black !important;
}
#charlas-cursos-cont {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.charlas h2 {
  padding-bottom: 1rem;
}

.cursos-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}
.cursos_img-cont {
  opacity: 0.7;
  filter: grayscale(0.85);
  transition: all 0.5s ease;
  position: relative;
  max-width: 220px;
  
}
.cursos_img-cont:hover {
  z-index: 3;
  opacity: 1;
  filter: grayscale(0.3);
  transform: scale(1.15);
}
.cursos_img-intro{
  max-height: 220px;
  width: 100%;
}
.cursos_nombre{
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  font-weight: 800;
  color: white;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
  -1px 1px 0 #000, 1px 1px 0 #000;
}
@media (min-width: 720px) {
  .cursos-cont {
    max-width: 720px;
    display: flex;
    margin-inline: auto;
    flex-direction: row;
    justify-content: space-between;    
    align-items: stretch;

  }
  .cursos_img-cont {
    display: grid;
    place-content: center;
    background-color: rgb(253, 244, 232);
   }
}
@media (min-width: 991px) {
  .intro h2 {
    font-size: 32px;
  }

  .quien-soy-text {
    font-size: 24px;
  }
  .cursos-cont {
    max-width: 720px;
    display: flex;
    margin-inline: auto;
    flex-direction: row;
    flex-wrap: wrap;    
  }
  
  .cursos_img-cont {
   z-index: 0;
    min-height: 90px;
    min-width: 140px;
   
  }
  .cursos_img-intro{
    

  }
}
