.about-me-cont {
  background-color: white;
  min-height: 108dvh;
}

#header {
  background-image: url("../../assets/img/magia blanca.jpg");
  background-position: center;
  height: 310px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 3rem;
}

#header h1 {
  font-size: 48px;
  font-weight: 800;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}
.img-intro {
  max-width: 380px;
  max-height: 300px !important;
  min-height: 300px !important;
}
.art-cont {
  padding: 1rem 3rem;
  padding-bottom: 10rem;
}

/* .img-about {
  margin-inline: auto;
}

.introTitle h2 {
} */
.about_text-cont {
  display: flex;
  justify-content: center;
}
.introTitle h3 {
  font-size: 24px;
}
#carouselAbout {
  max-width: 600px;
  margin-inline: auto;
  margin-bottom: 10rem;
  margin-top: 3rem;
}
.carousel-item img {
  width: 100%;
  max-width: 420px;
  max-height: 280px !important;
  min-height: 220px !important;
  margin-inline: auto;
}

fieldset legend {
  font-size: 17px;
  text-align: center;
}

@media screen and (min-width: 621px) {
  #header h1 {
    font-size: 58px;
  }
}

/* FIX */

@media screen and (max-width: 621px) {
  header {
    background-size: cover;
  }
}
