/* .navbar {
  position: sticky;
  top: 0;
} */
.navCont {
  width: 100%;
  display: flex;
  align-items: baseline;
  padding: 2.5rem 5rem;
  padding-bottom: 0;
}
.logo {
  transform: scale(0.8);
  width: 120px;
  height: 120px;
}
.logo img {
  width: 100%;
}
.local-nav {
  gap: 2rem;
  font-family: sans-serif;
  letter-spacing: 1px;
}
.nav-link {
  font-size: 18px;
}
.social-icon:hover {
  transition: color 0.2s ease-in;
  color: var(--hoover-color-1) !important;
}
.big-logo {
  display: none;
}

@media (min-width: 680px) {
}

@media (min-width: 991px) {
  #navbarNav {
    display: flex;
    justify-content: space-between;
  }
  /* .big-logo {
    display: block;
  } */
}
