.section-cont {
  font-family: 'Alegreya Sans SC', sans-serif;
  /* min-height: 84svh; */
  display: flex;
  flex-direction: column;
  place-content: center;
}
.blancSpace {
  height: 3rem;
}
.title {
  opacity: 0; /* Inicialmente oculto */
  animation: aparecer 3s ease-in-out 2s forwards; /* Duración de 1 segundo, retardo de 2 segundos */
  padding-top: 13rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.title strong {
  font-size: 48px;
  font-weight: 500;
  color: white;
  text-shadow: 2px 2px 443px rgba(0, 0, 100, 1);
  text-shadow: 2222222px 2222px 9999999px rgb(255, 255, 255);
}
.frase {
  opacity: 0; /* Inicialmente oculto */
  animation: aparecer 5s ease-in-out 2s forwards; /* Duración de 1 segundo, retardo de 2 segundos */
  font-size: 14px;
  font-weight: 400;
  color: white;
  margin-top: 20svh;
  margin-inline: auto;
  text-align: center;
  padding-bottom: 1svh;
}
.t-stroke {
  color: transparent;
  -moz-text-stroke-width: 2px;
  -webkit-text-stroke-width: 2px;
  -moz-text-stroke-color: #000000;
  -webkit-text-stroke-color: #211a7e;
}

.go-down-icon {
  bottom: 0;
  background-color: var(--navBarColor);
  border: none;
  border-color: transparent;
  color: white;
}
.go-down-icon:hover {
  color: var(--hoover-color-1);
}

@keyframes aparecer {
  0% {
    opacity: 0; /* Al inicio, sigue oculto */
  }
  100% {
    opacity: 1; /* Al final, completamente visible */
  }
}

@media screen and (min-width: 998px) {
  .frase {
    font-size: 20px;
  }
  .title strong {
    font-size: 76px;
  }
}
