.section-cont {
  height: 87vh;
  display: flex;
  flex-direction: column;
  place-content: center;
}

.title {
  opacity: 0; /* Inicialmente oculto */
  animation: aparecer 3s ease-in-out 2s forwards; /* Duración de 1 segundo, retardo de 2 segundos */
  padding-top: 13rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.title strong {
  font-size: 64px;
  font-weight: 900;
  color: white;
}
.frase {
  opacity: 0; /* Inicialmente oculto */
  animation: aparecer 5s ease-in-out 2s forwards; /* Duración de 1 segundo, retardo de 2 segundos */
  font-size: 16px;
  font-weight: 600;
  color: white;
  margin-top: 12rem;
  margin-inline: auto;
}
.t-stroke {
  color: transparent;
  -moz-text-stroke-width: 2px;
  -webkit-text-stroke-width: 2px;
  -moz-text-stroke-color: #000000;
  -webkit-text-stroke-color: #211a7e;
}

.go-down-icon {
  bottom: 0;
  background-color: var(--navBarColor);
  border: none;
  border-color: transparent;
  color: white;
}
.go-down-icon:hover {
  color: var(--hoover-color-1);
}

@keyframes aparecer {
  0% {
    opacity: 0; /* Al inicio, sigue oculto */
  }
  100% {
    opacity: 1; /* Al final, completamente visible */
  }
}

@media screen and (min-width: 998px) {
  .frase {
    font-size: 24px;
  }
  .intro-card-cont {
  }
}
