.contact_page {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 1rem;
  background-color: var(--background);
}
.contacto-img-cont {
  max-width: 500px;
  background-color: black;
  border: double 10px black;
}
.contacto-img-intro {
  max-width: 370px;
  max-height: 240px !important;
  min-height: 100px !important;
}
.contacto-dejame-tu-mensaje {
  max-width: 300px;
  padding-bottom: 1rem;
}
.form-title h2 {
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 0.5rem;
}
.form-title {
  /* width: 100%; */
}
.form-title p {
  margin-bottom: 4rem;
}

.contact-form {
  display: flex;
  box-sizing: border-box;
  margin-inline: auto;
  text-align: start;
  max-width: 500px;
}

.contact-form input {
  height: 54px;
  background: none;
  border-radius: 0;
}
.button,
.textCont,
.email {
  grid-column: 1 / span 2 !important;
}
.form-cont-1 {
  flex-wrap: wrap;
  width: 100%;
}
.form-cont-1 div {
  flex-grow: 1;
  flex-shrink: 0;
}
.text {
  resize: none;
  width: 100% !important;
  height: 86px !important;
}

.button_send {
  color: black;

  border-color: black !important;
}
.button_send:hover {
  color: white;
  border: none !important;
  border-color: black;
  background: rgb(5, 4, 27);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(27, 24, 43, 1) 100%,
    rgba(184, 191, 193, 0.9471989479385504) 100%
  );
}

@media screen and (min-width: 576px) {
  .contact_page {
    text-align: left;
    max-width: 1248px;
    margin-inline: auto;
  }
  .form-title {
    text-align: center;
  }
}
@media screen and (min-width: 974px) {
  .form-title h5 {
    padding-top: 6rem;
  }
}
@media screen and (min-width: 942px) {
  .form-title {
    align-self: stretch;
    display: flex;
    flex-direction: column;
  }
  .contact_page {
    gap: 3rem;
  }
}
