/* font-family: "Baumans", cursive;
font-family: "Lato", sans-serif;
font-family: "Open Sans", sans-serif;
font-family: "Roboto Slab", serif; */

html {
  scroll-behavior: smooth;
  height: 100vh;
  overflow-x: hidden;
}

body {
  background-color: var(--white);
  margin: 0;
  font-family: "Roboto Slab", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root{
  --white: #ffffff ;
--main-bg-color: #10152f;
--footer-bg-color: #10152f;
--navBarColor: #010101;
--hoover-color-1: #a940fc;

--background: #FCF7FF ;
--accent: #352C48;
--font:#FCF7FF ;
--secondary: #998AB5 ;
/* searchbar */
--font-size: 20px;
--frame-color: #000000;
--size: 1.5em;
--open-width: 18em;
--open-padding: 0.3em 2.1em 0.3em 0.4em;
--frame-thickness: 0.3em;
--handle-height: 1em;
--open-trans-time: 800ms;
--close-trans-time: 150ms;
}

