html {
  scroll-behavior: smooth;
  height: 100vh;
}

body {
  background-color: var(--main-bg-color);
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --main-bg-color: #10152f;
  --footer-bg-color: #10152f;
  --navBarColor: #010101;
  --hoover-color-1: #a940fc;
}
